input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; 
}
.rock, .paper, .scissors {
    height: 50px;
}

body {
    display: flex;
    justify-content: center;
    font-family: Kalam;
}

.wrapper{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.scores {
    display: flex;
    flex-direction:row;
    gap: 50px;
}

.userTotal, .computerTotal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameResult {
    display: flex;
    justify-content: center;
}

